.searchBar {
  margin: 1rem 4rem;
  display: flex;
  justify-content: center;


  #search_searchComponent {
    border-radius: 2.5rem;
    width: 70vw;
    height: 2.5rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }
}
