@use "../src/variables.scss";

@media (min-width: 851px) {
  .is_it_liked {
    color: variables.$red-color;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
  }

  .is_not_liked {
    color: variables.$white-color;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
  }

  .buttonLike {
    display: flex;
    justify-content: center;
    height: 6vh;
    width: 6vh;
    background-color: transparent;
    border: none;
  }
}
@media (max-width: 850px) {
  .is_it_liked {
    color: variables.$red-color;
    height: 4vh;
    width: 4vh;
    cursor: pointer;
  }

  .is_not_liked {
    color: variables.$white-color;
    height: 4vh;
    width: 4vh;
    cursor: pointer;
  }

  .buttonLike {
    display: flex;
    justify-content: center;
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    border: none;
  }
}
