@use "../src/variables.scss";

.home-title {
  color: variables.$orange-color;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: variables.$font-family;
  border: 0.1rem solid variables.$orange-color;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  margin-top: 6vh;
  position: relative;
  left: 7vw;
  bottom: 2rem;
}

.home {
  padding-bottom: 1rem;
}
.yt-lite {
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  height: 100%;
  width: 80%;
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/

.yt-lite > iframe {
  width: 100vw;
  height: 100vh;
  position: relative;
  aspect-ratio: 16/9;
}

.home-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-series-youtube,
.home-films-youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22rem;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: variables.$black-color;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: variables.$red-color;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: "";
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent variables.$white-color;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 851px) {
  .home-swiper-top {
    padding-top: 20vh;
  }
  .home-series-youtube,
  .home-films-youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22rem;
  }
  .home-title-swiper {
    display: flex;
    color: variables.$white-color;
    font-size: 1.5rem;
    flex-direction: column;
  }
  .my-swiper {
    height: 80vh;
    img {
      width: 100vw;
      height: 60vh;
      object-fit: scale-down;
    }
  }

  .home-swiper {
    width: 90vw;
    .swiper-button-next {
      color: variables.$red-color;
      right: 0%;
    }

    .swiper-button-prev {
      color: variables.$red-color;
      left: 0%;
    }
  }
}

@media (max-width: 850px) {
  .home-series-youtube,
  .home-films-youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 22rem;
  }
  .home-title-swiper {
    color: variables.$white-color;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .home-youtube {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-video {
    max-width: 100vw;
    height: auto;
  }

  .home-films-youtube {
    width: 100% !important;
  }
  .home-series-youtube {
    width: 100% !important;
  }
  .home-title {
    font-size: 1rem;
  }
  .home-swiper {
    width: 100vw;
    .swiper-button-next .swiper-button-prev {
      font-size: 1rem;
    }
  }
  .my-swiper {
    height: 60vh;
    img {
      width: 100vw;
      height: 59vh;
      object-fit: scale-down;
    }
  }

  .home-swiper {
    width: 80vw;
    .swiper-button-next {
      color: variables.$red-color;
      position: absolute;
    }

    .swiper-button-prev {
      color: variables.$red-color;
      position: absolute;
    }
  }
}
