div {
  color: white;
  .search {
    text-align: center;
  }
  .categories {
    list-style: none;

    :hover {
      // display: block;
    }
    .scrolling {
      .underScrolling {
        overflow: hidden;
        height: 5rem;
        overflow: scroll;
        border-radius: 2px;
        margin-left: 2%;
      }
    }
  }
  h2 {
    color: #ff8200;
    text-align: center;
    font-size: 2rem;
    margin: 2%;
  }
  img {
    width: 100%;
    object-fit: scale-down;
    height: 30vh;
    margin: 1.5%;
  }
  .affiche {
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  @media screen and (min-width: 1300px) {
    * {
      img {
        display: grid;
      }
      .affiche {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content max-content;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
