@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

.titleSearchBar {
  width: auto;
  padding-top: 8rem;
  font-family: "Red Hat Display", sans-serif;
  color: #ff8200;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

#idVideo {
  border-radius: 2.5rem;
  width: 70vw;
  height: 2.5rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
  margin-top: 2vh;
}

.search {
  text-align: center;
}

figcaption {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: "Red Hat Display", sans-serif;
}

.search-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22rem;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 12vw;
}

label[for="0"] {
  content: url("../../assets/horror.svg");
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 12vw;
}
label[for="1"] {
  content: url("../../assets/comedy.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="2"] {
  content: url("../../assets/sci-fi.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="3"] {
  content: url("../../assets/action.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="4"] {
  content: url("../../assets/western.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="5"] {
  content: url("../../assets/police-movie.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="6"] {
  content: url("../../assets/child-movie.svg");
  cursor: pointer;
  width: 12vw;
}
label[for="7"] {
  content: url("../../assets/thriller.svg");
  cursor: pointer;
  width: 12vw;
}
figure:hover {
  color: whitesmoke;
  text-shadow: 1px 3px 30px whitesmoke;
  text-decoration: underline;
}

.containerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
  color: #ff8200;
  align-items: center;
  justify-items: center;
}

.YoutubeHome {
  margin-top: 3vw;
}

@media (min-width: 851px) {
  .YoutubeHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    overflow-y: scroll;
  }

  .YoutubeVideo {
    padding-bottom: 20%;
    position: relative;
    height: 0;
    width: fit-content;

    .over-vids {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  .YoutubeVideo iframe {
    width: 50%;
    position: absolute;
  }
}

body {
  overflow-x: hidden;
}

@media (max-width: 850px) {
  .YoutubeHome {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .titleSearchBar {
    padding-top: 3rem;
    font-size: 2rem;
  }

  figure {
    font-size: 1rem;
    padding: 4vh;
    display: flex;
    justify-content: center;
  }

  .containerForm {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .yt-lite > iframe {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
