@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

h2 {
  width: auto;
  margin-bottom: 0px;
  font-family: "Red Hat Display", sans-serif;
  color: #ff8200;
  font-size: 44px;
  font-weight: 800;
  text-align: center;
}

.search {
  text-align: center;
}

figcaption {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: "Red Hat Display", sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

label[for="1"] {
  content: url("../../assets/comedy.svg");
  cursor: pointer;
}
label[for="2"] {
  content: url("../../assets/sci-fi.svg");
  cursor: pointer;
}
label[for="3"] {
  content: url("../../assets/action.svg");
  cursor: pointer;
}
label[for="4"] {
  content: url("../../assets/western.svg");
  cursor: pointer;
}
label[for="5"] {
  content: url("../../assets/police-movie.svg");
  cursor: pointer;
}
label[for="6"] {
  content: url("../../assets/child-movie.svg");
  cursor: pointer;
}

figure:hover {
  color: #ff8200;
  text-shadow: 1px 3px 30px whitesmoke;
  text-decoration: underline;
}

.containerForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 4rem;
  width: 100vw;
  color: #daa622;
  align-items: center;
  justify-items: center;
}

.YoutubeHome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  height: 50vw;
  width: 50vw;
}

.Background {
  background: linear-gradient(#010d18aa, #010d18aa),
    url("../../assets/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
