@use "../src/variables.scss";

.nav-bar-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  background-color: #010d18;
  z-index: 2;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  .logo-nav-bar {
    width: 20%;
  }

  .main-nav-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    width: 50%;

    .nav-links {
      text-decoration: none;
      background-color: variables.$black-color;
      border-radius: 1rem;
      padding: 1.1rem;
      border: 1px solid variables.$white-color;
      color: variables.$white-color;
      height: 30%;
      font-size: 1.2rem;
      flex: 1;
      &:hover {
        background-color: variables.$orange-color;
        color: variables.$black-color;
        border-color: variables.$orange-color;
      }

      .nav-option {
        display: flex;
        justify-content: center;
        gap: 5px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .nav-bar-container {
    padding: 0.5rem 0.3rem;

    .main-nav-bar {
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      z-index: 2;
      width: 100%;
      background-color: variables.$black-color;
      bottom: 0;
      gap: 0;

      .nav-links {
        text-decoration: none;
        background-color: variables.$black-color;
        color: variables.$white-color;
        border-radius: 0;
        padding: 0;
        border: 0;
        min-width: 25%;

        .nav-option {
          text-align: center;
          justify-content: center;
          text-decoration: none;
          padding: 2vh 0;
          font-size: 2rem;

          .nav-mobile {
            display: none;
          }
        }
      }
    }
  }
}
