@use "../src/variables.scss" as v;

.button-log-out {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  background: linear-gradient(
    to right,
    #ff8200,
    #ff7100,
    #ff5d02,
    #ff460c,
    #ff2415
  );
  cursor: url("../../assets/popcorn.png"), auto;
  border: none;
  color: #faf8ff;
  &:hover {
    color: #faf8ff;
    background: linear-gradient(
      to right,
      #ff2415,
      #ff460c,
      #ff5d02,
      #ff7100,
      #ff8200
    );
  }
}

.button-log-out-after {
  font-size: 1rem;
  border-radius: 2.5rem;
  background: linear-gradient(
    to right,
    #ff8200,
    #ff7100,
    #ff5d02,
    #ff460c,
    #ff2415
  );
  cursor: url("../../assets/popcorn.png"), auto;
  border: none;
  width: 10vw;
  height: 5vh;
  color: #faf8ff;
  &:hover {
    color: #faf8ff;
    background: linear-gradient(
      to right,
      #ff2415,
      #ff460c,
      #ff5d02,
      #ff7100,
      #ff8200
    );
  }
}

@media screen and (max-width: 850px) {
  .button-log-out {
    width: 30%;
    font-size: 1rem;
  }
  .button-log-out-modal {
    font-size: 1rem;
    width: 40%;
  }
  .button-log-out-after {
    width: 40vw;
  }
}
