@use "../src/variables.scss";

body {
  width: 100vw;
  height: 100vh;
}
@keyframes slideIn {
  from {
    transform: translate(-200px, 0px);
  }
}
@keyframes slideInRight {
  from {
    transform: translate(200px, 0px);
  }
}
.presentationPage {
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 5%;
  background: url("../../frontend/src/assets/wallpaper.jpg");
  padding-bottom: 2%;
  padding-top: 2%;
}
.imagePresentationPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  img {
    width: 40vw;
    border-radius: 25%;
  }
}

.textPresentationPage {
  color: variables.$white-color;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 2px;
  width: 30vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  text-align: center;
  border-radius: 1rem;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border: solid 1px variables.$orange-color;
  height: 85vh;
}

.titleTextPresentation {
  width: auto;
  padding: 2rem;
  color: variables.$orange-color;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  font-family: variables.$font-family;
}

.sentenceTextPresentation {
  width: auto;
  text-align: center;
  font-size: 1.5rem;
}

.backgroundSampleHome {
  width: 50vw;
  height: 50vh;
}

.presentationOfPremium {
  padding-right: 5%;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  gap: 5%;
  height: 100vh;
  border-top: solid 2px variables.$orange-color;
  border-bottom: solid 2px variables.$orange-color;
}

.presentationOfProfile {
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 5%;
  height: 85vh;
}
.textOfPremium,
.textOfProfile,
.typeWriterPresentation {
  color: variables.$white-color;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 23px;
  width: 35vw;
  padding: 5%;
  text-align: center;
  border-radius: 1rem;
  border: solid 1px variables.$orange-color;
}

.outsideMovie {
  width: 40vw;
  height: 50vh;
  border-radius: 15%;
}

@media screen and (max-width: 850px) {
  .presentationPage {
    display: flex;
    flex-flow: column;
    padding-left: 0;
    height: 100vh;
    gap: 4rem;
  }

  .textPresentationPage {
    width: 80vw;
    margin-top: 4rem;
  }
  .imagePresentationPage {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 100vh;

    img {
      width: 70vw;
      height: 20vh;
      border-radius: 25%;
      padding: 2%;
    }
  }
  .presentationOfPremium {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 5%;
    padding-right: 0;
    height: 70vh;
  }

  .textOfPremium {
    width: 80vw;
  }
  .backgroundSampleHome {
    width: 70vw;
    height: auto;
  }

  .presentationOfProfile {
    display: flex;
    flex-flow: column;
    padding-left: 0;
    padding-top: 5%;
    height: 80vh;
  }

  .textOfProfile {
    width: 80vw;
  }
  .outsideMovie {
    width: 60vw;
    height: 30vh;
  }

  .typeWriterPresentation {
    width: 60vw;
  }
}
