@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
}
@keyframes slideIn {
  from {
    transform: translate(-200px, 0px);
  }
}
@keyframes slideInRight {
  from {
    transform: translate(200px, 0px);
  }
}
.presentationPage {
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 5%;
  background: url("../../frontend/src/assets/wallpaper.jpg");
  padding-bottom: 2%;
  padding-top: 2%;
}
.imagePresentationPage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-iteration-count: 1;

  img {
    width: 40vw;
    height: 40vh;
    border-radius: 25%;
  }
}

.textPresentationPage {
  color: white;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 23px;
  width: 30vw;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  text-align: center;
  border-radius: 5%;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border: solid 1px orange;
}

.titleTextPresentation {
  width: auto;
  padding: 2.5rem;
  color: #ff8200;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

.sentenceTextPresentation {
  width: auto;
  text-align: center;
  font-size: 1.5rem;
}

.backgroundSampleHome {
  width: 50vw;
  height: 50vh;
}

.presentationOfPremium {
  padding-right: 5%;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  gap: 5%;
  height: 100vh;
  border-top: solid 2px orange;
  border-bottom: solid 2px orange;
}

.textOfPremium {
  color: white;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 23px;
  width: 35vw;
  padding: 5%;
  text-align: center;
  border-radius: 5%;
  border: solid 1px orange;
}

.presentationOfProfile {
  padding-left: 5%;
  display: flex;
  align-items: center;
  gap: 5%;
  height: 100vh;
}

.textOfProfile {
  color: white;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 23px;
  width: 35vw;
  padding: 5%;
  text-align: center;
  border-radius: 5%;
  border: solid 1px orange;
}

.outsideMovie {
  width: 40vw;
  height: 50vh;
  border-radius: 15%;
}

.typeWriterPresentation {
  color: white;
  background-color: rgb(2, 29, 53);
  left: 5%;
  top: 15%;
  font-size: 23px;
  width: 35vw;
  padding: 5%;
  text-align: center;
  border-radius: 2.5rem;
  border: solid 1px orange;
}

@media screen and (max-width: 850px) {
  .presentationPage {
    display: flex;
    flex-flow: column;
    padding-left: 0;
    height: 220vh;
  }

  .textPresentationPage {
    width: 80vw;
  }
  .imagePresentationPage {
    display: flex;
    flex-flow: column;

    img {
      width: 70vw;
      height: 20vh;
      border-radius: 25%;
      padding: 2%;
    }
  }
  .presentationOfPremium {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 5%;
    padding-right: 0;
    height: 150vh;
  }

  .textOfPremium {
    width: 80vw;
  }
  .backgroundSampleHome {
    width: 70vw;
    height: 30vh;
  }

  .presentationOfProfile {
    display: flex;
    flex-flow: column;
    padding-left: 0;
    padding-top: 5%;
    height: 150vh;
  }

  .textOfProfile {
    width: 80vw;
  }
  .outsideMovie {
    width: 60vw;
    height: 30vh;
  }

  .typeWriterPresentation {
    width: 60vw;
  }
}
