.home {
  h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Gilroy, sans-serif;
    border: 0.1rem solid white;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin-top: 6vh;
    position: relative;
    left: 7vw;
  }

  .my-swiper {
    height: 60vh;
    img {
      width: 100%;
      height: 59vh;
      object-fit: scale-down;
    }
  }

  .my-free-swiper {
    width: 95vw;
    .swiper-button-next {
      color: #ff2415;

      right: 2%;
    }

    .swiper-button-prev {
      color: #ff2415;

      left: 2%;
    }
  }
}

.YoutubeHome {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  top: 0%;

  & > div {
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.YoutubeHomeFilms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.YoutubeHomeSeries {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
