@use "../src/variables.scss";

.footerContainer {
  height: 20vh;
  color: variables.$white-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  padding-bottom: 1%;
  border-top: solid 1px variables.$orange-color;
  margin-right: 2vw;
  margin-left: 2vw;
}

.footerLogoContainer {
  display: flex;
  gap: 10px;
}
.footerLogo {
  width: 5vw;
}
.footerTextLegal {
  font-size: 1.2rem;
}
.footerTermsPrivacy {
  color: variables.$orange-color;
  display: flex;
  gap: 10px;
  padding-bottom: 1%;
  text-decoration: none;
}

.footerText {
  font-size: 1.2rem;
  text-decoration: none;
  color: variables.$white-color;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: variables.$white-color;
  }

  .footerTextLegal {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .imagePresentationPage img {
    width: 70vw;
    height: auto;
  }
  .backgroundSampleHome {
    width: 100vw;
  }
  .footerLogo,
  .footerText {
    display: none;
  }
  .titleTextPresentation,
  .typeWriterPresentation,
  .sentenceTextPresentation {
    font-size: 1.3rem;
  }
  .outsideMovie {
    width: 95vw;
  }
  .footerContainer {
    height: 10vh;
  }
}
