@use "../src/variables.scss";

.footerContainer {
  height: 10rem;
  color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  padding-bottom: 1%;
  border-top: solid 1px variables.$orange-color;
}

.footerLogoContainer {
  display: flex;
  gap: 10px;
}
.footerLogo {
  width: 5vw;
}

.footerTermsPrivacy {
  color: variables.$orange-color;
  display: flex;
  gap: 10px;
  padding-bottom: 1%;
}

.footerText {
  font-size: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: white;
  }

  .footerTextLegal {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .footerLogo {
    width: 10vw;
  }
}
