@use "../src/variables.scss";

.Registration {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.modalToggle,
input[type="submit"],
input[type="button"] {
  border-radius: 2.5rem;
  margin-top: 2%;
  background: linear-gradient(
    to right,
    #ff8200,
    #ff7100,
    #ff5d02,
    #ff460c,
    #ff2415
  );
  cursor: url("../../assets/popcorn.png"), auto;
  padding: 0.5rem 2rem;
  border: none;
  font-family: variables.$font-family;
  font-size: 22px;
  color: variables.$white-color;
  &:hover {
    color: variables.$white-color;
    background: linear-gradient(
      to right,
      #ff2415,
      #ff460c,
      #ff5d02,
      #ff7100,
      #ff8200
    );
  }
}

button.modalToggle:not(:first-child) {
  margin-left: 10px;
}

.formGroup {
  margin-top: 10px;
}

.formGroupPassword {
  display: flex;
  margin-top: 10px;
  width: 100%;
  background-color: variables.$white-color;
  border-radius: 2.5rem;
}

.inputPassword {
  width: 90%;
}

.ShowHidePassword {
  font-size: 25px;
  background-color: none;
  border: none;
  background: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 2.5rem;
  border: 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.buttonSubscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribePage {
  height: 80%;

  img {
    border-radius: 5%;
    width: 100%;
    height: 50%;
  }
}

.HideShow {
  background-color: transparent;
  border: none;
  color: rgb(167, 167, 167);
}

@media screen and (max-width: 700px) {
  button.modalToggle,
  input[type="submit"],
  input[type="button"] {
    font-size: 12px;
  }
}
