.App {
  background: linear-gradient(#010d18 0, #010d18aa 50vh, #010d18 100vh),
    url("../../frontend/src/assets/wallpaper.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
