@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");

$white-color: #faf8ff;
$black-color: #010d18;
$orange-color: #ff8200;
$red-color: #ff2415;
$font-family: "Red Hat Display", sans-serif;
