@import url(‘https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap’);

$white-color: #faf8ff;
$black-color: #010d18;
$orange-color: #ff8200;
$red-color: #ff2415;
$font-family: Gilroy, sans-serif;
