@use "../src/variables.scss";

.favoris {
  font-family: variables.$font-family;
  color: variables.$orange-color;
  min-height: 100vh;
  width: auto;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
  }

  .account-favoris {
    margin-top: 1rem;
  }
  .favoris-video {
    display: flex;
    justify-content: center;
    aspect-ratio: 16/9;
  }
  .details-video {
    color: variables.$orange-color;
  }

  @media (min-width: 851px) {
    .favoris-films {
      display: flex;
      flex-direction: column;
    }
    .account-favoris {
      display: flex;
      justify-content: center;
    }
    .element-account-favoris,
    .details-video {
      padding: 1rem;
      max-width: 80%;
      margin: auto;
    }
    .favoris-swiper {
      width: 80vw;
      .swiper-button-next {
        color: variables.$red-color;
        position: absolute;
        top: 20vh;
      }

      .swiper-button-prev {
        color: variables.$red-color;
        position: absolute;
        top: 20vh;
      }
    }
  }
  @media (max-width: 850px) {
    .details-video {
      margin: 1rem;
    }
    .favoris-video {
      & > iframe {
        width: 100%;
        height: 100%;
      }
    }
    .favoris-swiper {
      width: 80vw;
      .swiper-button-next {
        color: variables.$red-color;
        position: absolute;
        top: 10vh;
      }

      .swiper-button-prev {
        color: variables.$red-color;
        position: absolute;
        top: 10vh;
      }
    }
    .favoris-swipers {
      width: 80vw;
      .swiper-button-next {
        color: variables.$red-color;
        position: absolute;
        top: 15vh;
      }

      .swiper-button-prev {
        color: variables.$red-color;
        position: absolute;
        top: 15vh;
      }
    }
  }
}
