@use "../src/variables.scss";

img.avatar {
  width: 20vh;
  border-radius: 50%;
  margin: auto;
  display: flex;
  box-shadow: -2px 2px 53px variables.$orange-color;
}
.viewProfil {
  color: variables.$white-color;
  margin: 1rem;
  font-family: variables.$font-family;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #b9b9b9;
  background-color: #b9b9b9;
  display: flex;
}
.blocProfil {
  margin-bottom: 5rem;
}
