@use "../src/variables.scss";

.blocProfil {
  height: 130vh;

  input {
    border-radius: 50px;
    width: 50vw;
    display: flex;
    align-content: center;
  }
  header {
    margin-top: 10vh;
    color: variables.$orange-color;
    text-align: center;
    font-family: variables.$font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
    gap: 1rem;

    h1 {
      padding: 1vw;
      font-size: 2rem;
    }
  }

  img.avatar {
    width: 15vw;
    border-radius: 50%;
    display: flex;
    box-shadow: -2px 2px 50px variables.$orange-color;
    cursor: pointer;
    box-shadow: -2px 2px 30px variables.$orange-color;
  }
  .inputProf {
    width: auto;
    margin: auto;
    padding: 1vw;
    font-size: 1.2rem;
    border-radius: 15px;
    border: variables.$orange-color 3px solid;
  }
  .viewProfil {
    color: variables.$white-color;
    margin: auto;
    width: 60vw;
    font-family: variables.$font-family;
    padding: 3vh;
    color: variables.$orange-color;
  }
  .boutonValid {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    margin-top: 5vh;
    background-color: variables.$orange-color;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 3px;
    font-family: variables.$font-family;
  }
}
@media (min-width: 800px) {
  .blocProfil {
    height: 120vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding-bottom: 15vh;
    .viewProfil {
      width: 50vw;
    }
    .boutonValid {
      width: 20vw;
    }
    h1 {
      padding: 1vw;
      font-size: 2rem;
    }
  }
}

.avatars {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  height: 50vh;
  overflow-y: scroll;
  .avatar {
    width: 10vw;
    cursor: pointer;
  }
}
