@use "../src/variables.scss";
.premiumPage {
  max-height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  padding: 1vw;
  h1 {
    padding: 1vw;
    font-size: 2rem;
    color: variables.$orange-color;
  }
  .logo {
    display: flex;
    height: 10vh;
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  aspect-ratio: 16/9;
  top: 0%;

  iframe {
    width: 100%;
    height: 100%;
  }
}
.goPremium {
  display: flex;
  justify-content: center;
}
.goPremium1 {
  margin-bottom: 5vh;
  box-sizing: border-box;
  width: 40vw;
  padding: 0.5rem 0.7rem;
  border-radius: 2.5rem;
  border: 0;
  color: white;
  background: linear-gradient(
    to right,
    #ff8200,
    #ff7100,
    #ff5d02,
    #ff460c,
    #ff2415
  );

  cursor: url("../../assets/popcorn.png"), auto;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 22px;
  color: #fff;
  &:hover {
    background: linear-gradient(
      to right,
      #ff2415,
      #ff460c,
      #ff5d02,
      #ff7100,
      #ff8200
    );
  }
}
.chart {
  width: 70vw;
  margin: auto;
  margin-bottom: 3vh;
}
.presentation {
  width: 60vw;
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
  color: variables.$orange-color;
}

.logo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 40vw;
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
    padding: 1vw;
    h1 {
      font-size: 1rem;
      color: variables.$orange-color;
    }
    .logo {
      display: flex;
      height: 5vh;
    }
  }
  .premiumPage {
    font-size: 1rem;
    margin-top: 1vh;
    .goPremium1 {
      width: 40vw;
      font-size: 1rem;
    }
  }
  .presentation {
    width: 90vw;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  .chart {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
  }
}
